.header__menu-line {
    background-color: $light-color;
    width: 40px;
    height: 4px;
    transform: rotate(45deg) translateY(-1px) translateX(-1px);

    &:first-of-type {
        transform: rotate(-45deg) translateY(2px) translateX(-2px);
    }

    @media screen and (max-width: 767px) {
        width: 20px;
        height: 2px;
        transform: rotate(45deg) translateY(0px) translateX(0px);

        &:first-of-type {
            transform: rotate(-45deg) translateY(2px) translateX(-2px);
        }
    }
}
