.header__navigation-item {
    @include navigation-list;
    margin-bottom: 80px;

    &:last-of-type {
        margin-bottom: 0;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }
}