.footer__form-input {
    @include text;
    border: none;
    border-radius: 100px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    color: $dark-color;
    width: 278px;

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
        box-sizing: border-box;
    }
}