.footer__form_input {
    @include text;
    border: none;
    border-radius: 100px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    color: $dark-color;
    width: 278px;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 10px;
    }
}