@import './__burger/header__burger.scss';
@import './__burger-line/header__burger-line.scss';
@import './__menu/header__menu.scss';
@import './__menu/_opened/header__menu_opened.scss';
@import './__menu-line/header__menu-line.scss';
@import './__menu-icon/header__menu-icon.scss';
@import './__navigation/header__navigation.scss';
@import './__navigation-list/header__navigation-list.scss';
@import './__navigation-item/header__navigation-item.scss';
@import './__navigation/header__navigation.scss';

.header {
    width: 100%;
    position: relative;
    height: 0;
}