.two-columns {
    display: flex;
    flex-wrap: nowrap;
    max-width: calc(100% - 40px);
    margin: 0 20px 0 20px;
    justify-content: space-between;
    padding-top: 80px;

    &:last-of-type {
        margin-right: 0;
    }

    @media screen and (max-width: 768px) {
        padding-top: 40px;
        flex-direction: column;
    }
}
