@mixin h1 {
    font-family: "Golos";
    font-weight: $medium-w;
    font-size: $title;
    line-height: $height-l;
    text-transform: uppercase;
    text-align: left;
    color: $dark-color;
    padding: 80px 0 40px 0;
    max-width: 930px;
    margin: 0 0 0 20px;
}

@mixin h2 {
    font-family: "Golos";
    font-weight: $medium-w;
    font-size: $title;
    line-height: $height-l;
    text-transform: uppercase;
    text-align: center;
    color: $light-color;
    padding: 80px 0 40px 0;
    max-width: 930px;
    margin: 0 auto;
}

@mixin subtitle {
    font-family: "Golos";
    font-weight: $medium-w;
    font-size: $subtitle;
    line-height: $height-m;
    text-transform: uppercase;
    max-width: 460px;
    margin: 0;
}

@mixin text {
    font-family: "Golos";
    margin: 0;
    font-weight: $normal-w;
    font-size: $text;
    line-height: $height-s;
    color: $light-color;
}

@mixin navigation-list {
    font-family: "Golos";
    font-weight: $medium-w;
    font-size: $subtitle;
    line-height: $height-m;
    text-align: center;
    text-transform: uppercase;
    color: $light-color;
    text-decoration: none;
    margin: 0;
}

@mixin background-settings {
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}

@mixin button-settings {
    border: none;
    border-radius: 100px;
    background-color: $dark-color;
    cursor: pointer;
    font-family: "Golos";
    font-weight: $medium-w;
    font-size: $text;
    line-height: $height-s;
    text-transform: uppercase;
    color: $light-color;
}
