@mixin h1 {
    font-family: "Golos";
    font-weight: $medium-w;
    font-size: $font-xl;
    line-height: $height-xl;
    text-transform: uppercase;
    text-align: left;
    color: $dark-color;
    padding: 208px 0 40px 0;
    max-width: calc(100% - 40px);
    margin: 0 20px 0 20px;

    @media screen and (max-width: 1139px) {
        padding: 168px 0 40px 0;
    }

    @media screen and (max-width: 767px) {
        padding: 84px 0 20px 0;
        font-size: $font-l;
        line-height: $height-l;
    }
}

@mixin h2 {
    font-family: "Golos";
    font-weight: $medium-w;
    font-size: $font-xl;
    line-height: $height-xl;
    text-transform: uppercase;
    text-align: center;
    color: $light-color;
    padding-top: 80px;
    max-width: calc(100% - 510px);
    margin: 0 255px;

    @media screen and (max-width: 1139px) {
        max-width: 100%;
        margin: 0;;
    }

    @media screen and (max-width: 767px) {
        padding-top: 40px;
        font-size: $font-l;
        line-height: $height-l;
    }
}

@mixin subtitle {
    font-family: "Golos";
    font-weight: $medium-w;
    font-size: $font-l;
    line-height: $height-l;
    text-transform: uppercase;
    margin: 0;

    @media screen and (max-width: 1139px) {
        font-size: 24px;
        line-height: 32px;
    }

    @media screen and (max-width: 767px) {
        font-size: $font-s;
        line-height: $height-s;
    }
}

@mixin text {
    font-family: "Golos";
    margin: 0;
    font-weight: $normal-w;
    font-size: $font-xs;
    line-height: $height-xs;
    color: $light-color;
}

@mixin navigation-list {
    font-family: "Golos";
    font-weight: $medium-w;
    font-size: $font-l;
    line-height: $height-l;
    text-align: center;
    text-transform: uppercase;
    color: $light-color;
    text-decoration: none;
    margin: 0;

    @media screen and (max-width: 1139px) {
        font-size: $font-m;
        line-height: $height-m;
    }

    @media screen and (max-width: 767px) {
        font-size: $font-s;
        line-height: $height-s;
    }
}

@mixin background-settings {
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}

@mixin button-settings {
    border: none;
    border-radius: 100px;
    background-color: $dark-color;
    cursor: pointer;
    font-family: "Golos";
    font-weight: $medium-w;
    font-size: $font-xs;
    line-height: $height-xs;
    text-transform: uppercase;
    color: $light-color;
}
