$light-color: #fff;
$dark-color: #0a0a0a;

#font-size {
    $font-xl: 64px !global;
    $font-l: 32px !global;
    $font-m: 24px !global;
    $font-s: 20px !global;
    $font-xs: 16px !global;
}

#line-height {
    $height-xl: 80px !global;
    $height-l: 40px !global;
    $height-m: 32px !global;
    $height-s: 28px !global;
    $height-xs: 24px !global;
}

#font-weight {
    $medium-w: 500 !global;
    $normal-w: 400 !global;
}