.swiper-scrollbar-drag {
    background: #EBEBEB;
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 50;
    margin: 40px auto 0 auto;
    height: 5px;
    background-color: #292929;
    width: calc(100% - 40px);

    @media screen and (max-width: 767px) {
        margin: 20px auto 0 auto;
    }
}

.swiper-horizontal>.swiper-scrollbar {
    position: relative;
    margin: 20px 0 0 0;
    z-index: 50;
    height: 5px;
    width: calc(100% - 40px);
}