@import '../vendor/normalize.css';
@import '../vendor/fonst/fonts.css';
.title {
  font-family: "Golos";
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 80px;
  max-width: calc(100% - 510px);
  margin: 0 255px;
}
@media screen and (max-width: 1139px) {
  .title {
    max-width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .title {
    padding-top: 40px;
    font-size: 32px;
    line-height: 40px;
  }
}

.title_header {
  font-family: "Golos";
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;
  text-transform: uppercase;
  text-align: left;
  color: #0a0a0a;
  padding: 208px 0 40px 0;
  max-width: calc(100% - 40px);
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1139px) {
  .title_header {
    padding: 168px 0 40px 0;
  }
}
@media screen and (max-width: 767px) {
  .title_header {
    padding: 84px 0 20px 0;
    font-size: 32px;
    line-height: 40px;
  }
}

.title__slicer {
  margin: 0;
  padding: 0;
}

.page {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  width: 100%;
  position: relative;
  height: 0;
}

.header__burger {
  position: absolute;
  padding: 40px 0 0 20px;
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__burger:hover {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .header__burger {
    padding: 20px 0 0 20px;
    width: 24px;
    height: 24px;
  }
}

.header__burger-line {
  height: 4px;
  width: 40px;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #0a0a0a;
}
.header__burger-line:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .header__burger-line {
    height: 2px;
    width: 20px;
    margin-bottom: 6px;
  }
}

.header__menu {
  position: fixed;
  display: flex;
  background-color: #0a0a0a;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  top: 0;
  transform: translateY(-100%);
  transition: 0.3s;
}

.header__menu_opened {
  transform: none;
  transition: 0.3s;
}

.header__menu-line {
  background-color: #fff;
  width: 40px;
  height: 4px;
  transform: rotate(45deg) translateY(-1px) translateX(-1px);
}
.header__menu-line:first-of-type {
  transform: rotate(-45deg) translateY(2px) translateX(-2px);
}
@media screen and (max-width: 767px) {
  .header__menu-line {
    width: 20px;
    height: 2px;
    transform: rotate(45deg) translateY(0px) translateX(0px);
  }
  .header__menu-line:first-of-type {
    transform: rotate(-45deg) translateY(2px) translateX(-2px);
  }
}

.header__menu-icon {
  display: flex;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 40px;
  left: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .header__menu-icon {
    width: 24px;
    height: 24px;
    top: 20px;
    left: 20px;
  }
}

.header__navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__navigation-item {
  font-family: "Golos";
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin: 0;
  margin-bottom: 80px;
}
@media screen and (max-width: 1139px) {
  .header__navigation-item {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  .header__navigation-item {
    font-size: 20px;
    line-height: 28px;
  }
}
.header__navigation-item:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .header__navigation-item {
    margin-bottom: 40px;
  }
}

.about {
  background-color: #0a0a0a;
}

.products {
  background-color: #0a0a0a;
}

.products__text {
  font-family: "Golos";
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.slider {
  margin-top: 80px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .slider {
    margin-top: 40px;
  }
}

.slider__card {
  position: relative;
}

.slider__image {
  width: 100%;
}

.slider__card {
  position: relative;
}

.slider__image {
  width: 100%;
}

.slider__button {
  border: none;
  border-radius: 100px;
  background-color: #0a0a0a;
  cursor: pointer;
  font-family: "Golos";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 100px;
}
@media screen and (max-width: 767px) {
  .slider__button {
    width: calc(100% - 40px);
  }
}

.slider__arrow {
  border: none;
  border-radius: 100px;
  background-color: #0a0a0a;
  cursor: pointer;
  font-family: "Golos";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 9999;
  opacity: 1 !important;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: none !important;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: none !important;
}

.slider__arrow_left {
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-image: url("../images/arrow-left.svg");
  left: 20px;
  opacity: 1 !important;
}

.slider__arrow_right {
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-image: url("../images/arrow-right.svg");
  right: 20px;
}

.slider__track {
  height: unset;
}

.swiper-scrollbar-drag {
  background: #EBEBEB;
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 50;
  margin: 40px auto 0 auto;
  height: 5px;
  background-color: #292929;
  width: calc(100% - 40px);
}
@media screen and (max-width: 767px) {
  .swiper-container-horizontal > .swiper-scrollbar {
    margin: 20px auto 0 auto;
  }
}

.swiper-horizontal > .swiper-scrollbar {
  position: relative;
  margin: 20px 0 0 0;
  z-index: 50;
  height: 5px;
  width: calc(100% - 40px);
}

.banner {
  background-color: #0a0a0a;
  max-width: 100%;
}
@media screen and (max-width: 1439px) {
  .banner {
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    display: flex;
    max-width: 100%;
    height: 100vh;
    justify-content: center;
  }
}

.banner_secondary {
  padding-top: 80px;
}
@media screen and (max-width: 1439px) {
  .banner_secondary {
    height: initial;
  }
}
@media screen and (max-width: 767px) {
  .banner_secondary {
    padding-top: 40px;
  }
}

.two-columns {
  display: flex;
  flex-wrap: nowrap;
  max-width: calc(100% - 40px);
  margin: 0 20px 0 20px;
  justify-content: space-between;
  padding-top: 40px;
}
.two-columns:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .two-columns {
    padding-top: 20px;
    flex-direction: column;
  }
}

.two-columns__container {
  display: flex;
  flex-direction: column;
  width: calc(1440px / 2);
  margin-right: 10px;
}
.two-columns__container:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .two-columns__container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .two-columns__container:last-of-type {
    margin-bottom: 0;
  }
}

.two-columns__text {
  font-family: "Golos";
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.two-columns__image {
  max-width: 460px;
  margin-left: auto;
}
@media screen and (max-width: 1139px) {
  .two-columns__image {
    max-width: 100%;
    max-height: 246px;
  }
}
@media screen and (max-width: 767px) {
  .two-columns__image {
    margin-left: 0;
    max-height: none;
  }
}

.two-columns__subtitle {
  font-family: "Golos";
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
}
@media screen and (max-width: 1139px) {
  .two-columns__subtitle {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  .two-columns__subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}

.footer {
  background-color: #0a0a0a;
  padding: 80px 0 80px 0;
  display: flex;
  flex-direction: column;
}

.footer__text {
  font-family: "Golos";
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .footer__text {
    padding: 20px 0;
    margin: 0 auto;
    max-width: calc(100% - 40px);
  }
}

.footer__form {
  margin: 0 auto;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .footer__form {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}

.footer__form-button {
  border: none;
  border-radius: 100px;
  background-color: #0a0a0a;
  cursor: pointer;
  font-family: "Golos";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  height: 40px;
  padding: 8px 24px;
}
@media screen and (max-width: 767px) {
  .footer__form-button {
    width: 100%;
  }
}

.footer__form-input {
  font-family: "Golos";
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border: none;
  border-radius: 100px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  color: #0a0a0a;
  width: 278px;
}
@media screen and (max-width: 767px) {
  .footer__form-input {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
    box-sizing: border-box;
  }
}

.footer__copyright {
  font-family: "Golos";
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 0 auto;
    max-width: calc(100% - 40px);
  }
}/*# sourceMappingURL=index.css.map */