@import './__title/first-block__title.scss';

.first-block {
    height: 100vh;
    background-image: url('../../../../images/main-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}